@page "/snackbar-test"
@inject ISnackbar Snackbar
@rendermode InteractiveAuto
@inject NavigationManager Navigation

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ShowSnackbar">
    Show Snackbar
</MudButton>
<p>Base URI: @BaseUri</p>
<p>Current URI: @CurrentUri</p>

@code {
    private string BaseUri;
    private string CurrentUri;

    protected override void OnInitialized()
    {
        BaseUri = Navigation.BaseUri;
        CurrentUri = Navigation.Uri;
    }

    private void ShowSnackbar()
    {
        Snackbar.Add("This is a test snackbar message!", Severity.Success);
    }
}